@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@import "home";
@import "offer";
@import "contact";
@import "about";
@import "header";

// ...................
html{
    scroll-behavior: smooth;

}
.container{
    width: 100%;
    max-width: 1340px;
    margin: auto;
    .bx{
        
       

    }
}

.active {
  background: rgb(49, 49, 49);
 color: aliceblue;
  }
.bg{
  background: rgb(255, 255, 255);
}
  li{
    list-style: none;
  }